body {
  margin: 0;
  padding: 0;
  background-color: black;
  cursor: default;
}

* { box-sizing: border-box; }

.row:before,
.row:after { content: " "; display: table; }
.row:after { clear: both; }
.cell { position: relative; float: left; }

#app { width: 826px; height: 337px; margin: 1px; }

#tracker {
  width: 344px;
  height: 337px;
  padding: 18px;
  background-image: url(images/overlay/frame.png);
}

#super-missile { margin-left: 14px; }
#power-bomb { margin-left: 10px; }
.inc-dec { padding: 3px 0; }
.ammo-icon { width: 64px; height: 64px; }

#missile .ammo-icon { width: 96px; background-image: url(images/items/missile.png); }
#super-missile .ammo-icon { background-image: url(images/items/super.png); }
#power-bomb .ammo-icon { background-image: url(images/items/pbomb.png); }

#g4 {
  width: 126px;
  height: 145px;
  margin-top: 8px;
  position: absolute;
  background-image: url(images/G4/golden_four.png);
}

#kraid {
  width: 62px;
  height: 88px;
  position: absolute;
  left: 0px;
  bottom: 4px;
  z-index: 1;
  background-image: url(images/G4/kraid.png);
}

#phantoon {
  width: 40px;
  height: 58px;
  position: absolute;
  left: 46px;
  bottom: 22px;
  z-index: 2;
  background-image: url(images/G4/phantoon.png);
}

#draygon {
  width: 57px;
  height: 81px;
  position: absolute;
  right: 0px;
  bottom: 8px;
  z-index: 1;
  background-image: url(images/G4/draygon.png);
}

#ridley {
  width: 77px;
  height: 76px;
  position: absolute;
  left: 36px;
  top: 0px;
  z-index: 3;
  background-image: url(images/G4/ridley.png);
}

.boss { opacity: 0; }
.boss.defeated { opacity: 1; }

.item { width: 48px; height: 48px; opacity: .25; }
.item.active { opacity: 1; }

#beams { margin: 5px 8px 0; }
#beams.row > .cell + .cell { margin-left: 13px; }

#upgrades { margin-top: 4px; margin-left: 130px; }
#upgrades > .row { margin: 4px 0; }
#upgrades > .row > .cell + .cell { margin-left: 13px; }

#menu {
  width: 138px;
  height: 337px;
  padding: 12px 6px;
}
#menu .button {
  width: 126px;
  height: 48px;
  margin: 12px 0;
}

#menu .map { background-image: url(images/overlay/button-map.png); }
#menu .ridley { background-image: url(images/overlay/button-ridley.png); }
#menu .mbrain { background-image: url(images/overlay/button-mbrain.png); }
#menu .skill { background-image: url(images/overlay/button-skill.png); }
#menu .option { background-image: url(images/overlay/button-option.png); }
#menu .map.active { background-image: url(images/overlay/button-map-active.png); }
#menu .ridley.active { background-image: url(images/overlay/button-ridley-active.png); }
#menu .mbrain.active { background-image: url(images/overlay/button-mbrain-active.png); }
#menu .skill.active { background-image: url(images/overlay/button-skill-active.png); }
#menu .option.active { background-image: url(images/overlay/button-option-active.png); }

.panel {
  width: 344px;
  height: 337px;
  position: absolute;
  color: white;
  display: none;
}
.panel.active { display: block; }

#panels .map { background-color: red; }
#panels .ridley { background-image: url(images/overlay/ridleymath.png); }
#panels .mbrain { background-color: green; }
#panels .skill { background-color: blue; }
#panels .option { background-color: purple; }

#ridley-beam {
  width: 64px;
  height: 28px;
  position: absolute;
  top: 113px;
  left: 46px;
}
#ridley-strategy {
  width: 158px;
  height: 280px;
  position: absolute;
  top: 15;
  right: 15;
  font-size: 20px;
  text-align: center;
}

#charge { background-image: url(images/items/charge.png); }
#ice { background-image: url(images/items/ice.png); }
#wave { background-image: url(images/items/wave.png); }
#spazer { background-image: url(images/items/spazer.png); }
#plasma { background-image: url(images/items/plasma.png); }
#varia { background-image: url(images/items/varia.png); }
#gravity { background-image: url(images/items/gravity.png); }
#morph { background-image: url(images/items/morph.png); }
#bombs { background-image: url(images/items/bomb.png); }
#spring-ball { background-image: url(images/items/springball.png); }
#screw { background-image: url(images/items/screw.png); }
#hi-jump { background-image: url(images/items/hijump.png); }
#space { background-image: url(images/items/space.png); }
#speed { background-image: url(images/items/speed.png); }

[class*="digit-"] { width: 32px; height: 28px; }
.digit-0 { background-image: url(images/numbers/0.png); }
.digit-1 { background-image: url(images/numbers/1.png); }
.digit-2 { background-image: url(images/numbers/2.png); }
.digit-3 { background-image: url(images/numbers/3.png); }
.digit-4 { background-image: url(images/numbers/4.png); }
.digit-5 { background-image: url(images/numbers/5.png); }
.digit-6 { background-image: url(images/numbers/6.png); }
.digit-7 { background-image: url(images/numbers/7.png); }
.digit-8 { background-image: url(images/numbers/8.png); }
.digit-9 { background-image: url(images/numbers/9.png); }
.plus, .minus { width: 20px; height: 28px; }
.plus { background-image: url(images/numbers/plus.png); }
.minus { background-image: url(images/numbers/minus.png); }
